@page
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@using AutoGens
@{
    ViewData["Title"] = "View Classrooms";
}

@functions
{
    List<Classroom>? AllClassrooms {get; set;}
    int TotalClassrooms = 0;
    Classroom? ChoosenClassroom {get; set;}
    Classroom? ChoosenClassroomSpinner {get; set;}
    
    public void OnGet(int selectedOption, int spinner) //esto es lo que mandas en el form, el la lista le mando name ="selectedOption"
    {
        if(selectedOption > 0)
        {
            Model.ChoosenClassroom = AddClassroom(selectedOption);
        }
        if(spinner > 0 )
        {
            Model.ChoosenClassroomSpinner = AddClassroom(spinner);
        }
        var result = Functions.ListClassrooms();
        Model.AllClassrooms = result.List;
        Model.TotalClassrooms = result.TotalCount;
    }


    public static Classroom AddClassroom(int ClassroomId)
    {
        using (bd_storage db = new())
        {
                IQueryable<Classroom> classroomsId = db.Classrooms.Where(c => c.ClassroomId == ClassroomId);
                    Classroom classroom = classroomsId.First();
                // Si no existe le pide que ingrese otra vez el valor
                if (classroomsId is null || !classroomsId.Any())
                {
                    Console.WriteLine("Not a valid key. Try again");
                }
            return classroom;
        }
    }

}

<h1>@ViewData["Title"]</h1>

<p>Use this page to see all classrooms.</p>

<form method="get" action="/ViewAllClassrooms">
    <label for="spinner">Selecciona un número:</label>
    <input type="number" id="spinner" name="spinner" min="1" max="@Model.TotalClassrooms" step="1" value="1">
    <label for="dropdown">Selecciona una opción:</label>
    <select id="dropdown" name="selectedOption">
        @if(Model.AllClassrooms is not null)
        {
            @foreach(var c in Model.AllClassrooms)
            { 
                <option value="@c.ClassroomId">@c.Name</option>
            }
        }
    </select>
    <button type="submit" name="action" value="confirm">Confirmar</button>
</form>

<table>
    <thead>
        <th>Id</th>
        <th>Key</th>
        <th>Name</th>
    </thead>
    <tbody>
        @if(Model.AllClassrooms is not null)
        {
            foreach(var c in Model.AllClassrooms)
            {
                <tr>
                    <td>@c.ClassroomId</td>
                    <td>@c.Clave</td>
                    <td>@c.Name</td>
                </tr>
            }
        }
        else
        {
            <h2>There are no classrooms registered, sorry</h2>
        }
    </tbody>
    @if(Model.ChoosenClassroom is not null )
    {
        <h3>@Model.ChoosenClassroom.Name</h3>
        <h3>@Model.ChoosenClassroomSpinner.Name</h3>
    }
</table>