@page
@using AutoGens
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@{
    ViewData["Title"] = "View My Students Requests";
    //await Html.RenderPartialAsync("Functions.cshtml");
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to see the requests of your students that haven't been approved or denied yet. By clicking the button the corresponding button you will approve or deny a request</p>

@functions
{
    List<RequestDetail>? AllRequestsToApprove {get; set;}
    string? Username {get; set;}
    string? Message {get; set;}
    string? Nip {get; set;}
    bool Ban {get; set;}
    public void OnGet(string? username, string? Nip) 
    {
        Model.Username = username;
        Model.Nip = Nip;
        Model.Ban = false;
    }
    public void OnPostNipTry(string? Nip, string? UserName)
    {
        Model.Username = UserName;
        Model.Nip = Nip;
        Model.Ban = false;
        if(Model.Username is not null)
        {
            if(Model.Nip is not null)
            {
                bool test = Functions.VerifyNipExistenceProf(Model.Nip, Model.Username);
                if(test == true)
                {
                    Model.Message = "Correct NIP, your NIP has been verified.";
                    Console.WriteLine(Model.Message);
                    Model.Ban = true;
                    Model.AllRequestsToApprove = Functions.WatchRequestsToApprove(Model.Username);
                    if(Model.AllRequestsToApprove is null)
                    {
                        Model.Message = "There are no requests to approve or deny.";
                    }
                    else
                    {
                        Model.Message = "This are the requests you have to approve or deny:";
                    }
                }
                else
                {
                    Model.Message = "This is a incorrect Nip, try again to see the requests you have to approve or deny";
                }
            }
        }
    }
}

@if(Model.Ban == false)
{
    <form method="post" asp-page-handler="NipTry">
        <div class="mb-3">
            <label class="form-label">Provide your Professor NIP : </label>
            <input type="text" class="form-control" id="Nip" name="Nip" maxlength="4" required>
            <input type="hidden" name="UserName" value="@Model.Username">
            <button type="submit" class="btn btn-primary" name="btn_Nip" value="confirm">Verify</button>
        </div>
    </form>
}

@if(Model.Message != "")
{
    <h5>@Model.Message</h5>
}

@if(Model.AllRequestsToApprove is not null )
{
    var groupedRequests = Model.AllRequestsToApprove.GroupBy(r => r.RequestId);
    <table class="table" >
        <thead>
            <tr>
                <th>Request ID</th>
                <th>StudentId</th>
                <th>Student Name</th>
                <th>Group</th>
                <th>Equipment(s)</th>
                <th>Requested Date</th>
                <th>Dispatch Time</th>
                <th>Return Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var group in groupedRequests)
            {
                var r = group.First();
                <tr>
                    <td>@r.RequestId</td>
                    <td>@r.Request?.StudentId</td>
                    <td>@r.Request?.Student?.Name @r.Request?.Student?.LastNameP @r.Request?.Student?.LastNameM</td>
                    <td>@r.Request?.Student?.Group?.Name</td>
                    <td>
                        <ul>
                            @foreach (var ro in group)
                            { // so all the equipments of the request will be seen in the same celd of the same request of course
                                <li>@ro.Equipment?.Name</li>
                            }
                        </ul>
                    </td>
                    
                    <td>@r.RequestedDate.Day / @r.RequestedDate.Month / @r.RequestedDate.Year</td>
                    <td>@r.DispatchTime.TimeOfDay</td>
                    <td>@r.ReturnTime.TimeOfDay</td>
                    <form method="get" action="/Users/Professors/ProfessorActions/ApproveDenyRequest">
                        <input type="hidden" name="RequestId" value=@r.RequestId>
                        <input type="hidden" name="UserName" value=@Model.Username>
                        <input type="hidden" name="Nip" value=@Model.Nip>
                        <td>                        
                            <button type="submit" class="btn btn-primary" name="action" value="approve">Approve</button>
                        </td>
                        <td>                        
                            <button type="submit" class="btn btn-primary" name="action" value="deny">Deny</button>
                        </td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
}